<form></form>
  <div class="container mt-4">
    <h1 class="text-center">Template Driven Form</h1>
    <form #register="ngForm" (ngSubmit)="register.form.valid && registerFn()">


      <div class="mb-3">
        <label for="fname" class="form-label">FirstName</label>
        <input type="text" class="form-control" id="fname" placeholder="FirstName" [(ngModel)]="form.fname"
          name="fname" #fname="ngModel" required maxlength="18" [ngClass]="{error: fname.errors && fname.touched}">
          <div *ngIF="fname.error && fname.touched">
            <small class="text-danger" *ngIF="fname.error['required']">First Name is required</small>
            <small class="text-danger" *ngIF="fname.error['maxlength']">Maximum 32 characters allowed.</small>
          </div>
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">LastName</label>
        <input type="text" class="form-control" id="lname" placeholder="LastName" [(ngModel)]="form.lname" name="lname"
          #lname="ngModel" required maxlength="18" [ngClass]="{error: lname.errors && lname.touched}">
          <div *ngIF="lname.error && lname.touched">
            <small class="text-danger" *ngIF="lname.error['required']">Last Name is required</small>
            <small class="text-danger" *ngIF="lname.error['maxlength']">Maximum 32 characters allowed.</small>
          </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" placeholder="email" [(ngModel)]="form.email" name="email"
          #email="ngModel" required maxlength="32" [pattern]="emailRegex" [ngClass]="{error: email.errors && email.touched}">
          <div *ngIF="email.error && email.touched">
            <small class="text-danger" *ngIF="email.error['required']">Email field is required</small>
            <small class="text-danger" *ngIF="email.error['maxlength']">Email should be in maximum 32 character long</small>
            <small class="text-danger" *ngIF="email.error['pattern']">Please Enter valid Email </small>
          </div>
      </div>

      <div class="mb-3">
        <label for="age" class="form-label">age</label>
        <input type="number" class="form-control" id="age" placeholder="age" [(ngModel)]="form.age" name="age"
          #age="ngModel" min="18" max="60" [pattern]=integerRegex [ngClass]="{error: age.errors && age.touched}">
          <div *ngIF="age.error && age.touched">
            <small class="text-danger" *ngIF="age.error['required']">Last Name is required</small>
            <small class="text-danger" *ngIF="age.error['max'] || age.error['min']">Age must be between 18years to 60 years</small>
            <!-- <small class="text-danger" *ngIF="age.error['pattern']">Enter valid Age</small> -->
          </div>

        <div class="mb-3">
          <label for="number" class="form-label">Number</label>
          <input type="number" class="form-control" id="number" placeholder="number" [(ngModel)]="form.number"
            name="number" #number="ngModel" reqired  minlength="10" maxlength="10" [pattern]="integerRegex" [ngClass]="{error:number.errors && number.touched}">
            <div *ngIF="number.error && number.touched">
            <small class="text-danger" *ngIF="number.error['required']">Last Name is required</small>
            <small class="text-danger" *ngIF="number.error['maxlength'] || number.error['minlength'] || number.error['pattern']">Please enter valid Number</small>
          </div>
        </div>
        <div class="mb-3">
          <input type="submit" class="btn btn-success" [disabled]="register.form.status==='INVALID'">
        </div>
      </div>
    </form>